force-app/main/default/flows/PromptToFlow_JSON_Template_Retriever.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>67.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_JSON_template</name>
        <elementSubtype>AddPromptInstructions</elementSubtype>
        <label>Add JSON template</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Output.Prompt</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!ptfConfigRecord.Template_JSON__c}
</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Add_not_found_message</name>
        <elementSubtype>AddPromptInstructions</elementSubtype>
        <label>Add &quot;not found&quot; message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Output.Prompt</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>No configuration record found
</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_config_from_name</name>
        <label>Set config from name</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ptfConfigRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_config_by_Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Was_record_passed_in_found</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Was_record_passed_in_found</name>
        <label>Was record passed in/found?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Add_not_found_message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No record</defaultConnectorLabel>
        <rules>
            <name>Yes_config_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ptfConfigRecord.Id</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_JSON_template</targetReference>
            </connector>
            <label>Yes, config found</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_input_was_passed_in</name>
        <label>What input was passed in?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Add_not_found_message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>None</defaultConnectorLabel>
        <rules>
            <name>Record_variable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ptfConfigRecord</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Was_record_passed_in_found</targetReference>
            </connector>
            <label>Record variable</label>
        </rules>
        <rules>
            <name>Record_name</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>configRecordName</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_config_by_Name</targetReference>
            </connector>
            <label>Record name</label>
        </rules>
    </decisions>
    <description>Used by a Prompt Template to retrieve a JSON template stored in a PromptToFlow Configuration record. Valid input is one of the following: a record variable, ID, or Name.</description>
    <environments>Default</environments>
    <interviewLabel>PromptToFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PromptToFlow JSON Template Retriever</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>PromptFlow</processType>
    <recordLookups>
        <name>Get_config_by_Name</name>
        <label>Get config by Name</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_config_from_name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>configRecordName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PromptToFlow_Config__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>What_input_was_passed_in</targetReference>
        </connector>
        <triggerType>Capability</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>Populate this value to search for a PromptToFlow Configuration record by Name.</description>
        <name>configRecordName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>This is the PromptToFlow Configuration record whose JSON template to retrieve</description>
        <name>ptfConfigRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>PromptToFlow_Config__c</objectType>
    </variables>
</Flow>
