force-app/main/default/flows/PromptToFlow_JSON_Template_Retriever_OLD.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <assignments>
        <name>Set_Outputs</name>
        <label>Set Outputs</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>templateJson</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>configRecord.Template_JSON__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>invocableActionLabel</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>configRecord.Invocable_Action_Label__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>found</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Not_Found</name>
        <label>Set Not Found</label>
        <locationX>440</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>found</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Has_Record_Id</name>
        <label>Has Record Id?</label>
        <locationX>308</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Get_By_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Record Id</defaultConnectorLabel>
        <rules>
            <name>By_Record_Id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_By_Id</targetReference>
            </connector>
            <label>By Record Id</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Record_Found</name>
        <label>Was Record Found?</label>
        <locationX>308</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Set_Not_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Record_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>configRecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Outputs</targetReference>
            </connector>
            <label>Record Found</label>
        </rules>
    </decisions>
    <description>Autolaunched flow used by a prompt template to dynamically fetch the current Template JSON from a PromptToFlow Configuration record. Accepts a recordId (preferred) or a configName and returns templateJson, invocableActionLabel, and a found flag.</description>
    <environments>Default</environments>
    <interviewLabel>PromptToFlow JSON Template Retriever {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PromptToFlow JSON Template Retriever</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_By_Id</name>
        <label>Get Config By Id</label>
        <locationX>176</locationX>
        <locationY>266</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Was_Record_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PromptToFlow_Config__c</object>
        <outputReference>configRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Template_JSON__c</queriedFields>
        <queriedFields>Invocable_Action_Label__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_By_Name</name>
        <label>Get Config By Name</label>
        <locationX>440</locationX>
        <locationY>266</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Was_Record_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>configName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PromptToFlow_Config__c</object>
        <outputReference>configRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Template_JSON__c</queriedFields>
        <queriedFields>Invocable_Action_Label__c</queriedFields>
    </recordLookups>
    <start>
        <locationX>182</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Has_Record_Id</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>configName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>configRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PromptToFlow_Config__c</objectType>
    </variables>
    <variables>
        <name>found</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>invocableActionLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>templateJson</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
